@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body,
html {
  height: 100%;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  height: 97%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attribution {
  width: 100%;
  height: 3%;
}

.qrContainer {
  height: 76%;
  width: 22%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(212, 45%, 89%);
  border-radius: 30px;
}

.imgContainer {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleContainer,
.textContainer {
  height: 15%;
  width: 89%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textContainer {
  margin-bottom: 7%;
}

h1 {
  font-size: 1.4rem;
  text-align: center;
  color: hsl(218, 44%, 22%);
}

p {
  color: hsl(220, 15%, 55%);
  text-align: center;
  font-size: 1rem;
}

img {
  width: 90%;
  height: 90%;
  border-radius: 30px;
}

@media (max-width: 376px) {
  .qrContainer {
    height: 85%;
    width: 55%;
  }

  h1 {
    font-size: 1rem;
  }

  p {
    font-size: 0.7rem;
  }
}
